* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 53px 0 134px;
}

a {
    text-decoration: none;
}

.container {

    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.app {
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;
}


.header__block {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    max-width: 1200px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
    margin-bottom: 65px;

}

.header__left {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.header__Name {
    color: #292F36;
    font-family: DM Serif Display, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 50px */
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16em;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 2.6em;
}

.link__pages {
    color: #292F36;
    text-align: center;
    font-family: Jost, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 25px */
}

.posters {
    display: inline-block;
    justify-content: center;
    position: relative;
}

.posters__img {
    display: flex;
    /*justify-content: center;*/
    position: relative;
    margin-bottom: 90px;
}

.posters__info {
    display: block;
    position: absolute;
    top: 44.7%;
    left: 22.4%;
    transform: translate(-50%, -50%);
    max-height: 342px;
    height: 100%;
    max-width: 434px;
    width: 100%;
}

.posters__title {
    color: #292F36;
    font-family: DM Serif Display, sans-serif;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 81.25px */
    width: 434px;
    height: 162px;
    margin-bottom: 19px;
}

.posters__description {
    color: #4D5053;
    font-family: Jost, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
    max-width: 434px;
    max-height: 62px;
    margin-bottom: 24px;
}

.posters__button {
    display: flex;
    padding: 26px 49px 26px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.posters__button {
    border-radius: 18px;
    background: #292F36;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
}

.posters__button {
    color: #FFF;
    text-align: center;
    font-family: Jost, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 22.5px */
    letter-spacing: 0.36px;
}

.products {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*position: relative;*/

}

.products__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__title {
    color: #292F36;
    text-align: center;
    font-family: DM Serif Display, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 62.5px */
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.products__description {
    color: #4D5053;
    text-align: center;
    font-family: Jost, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
    width: 737px;
    margin-bottom: 93px;
}

.products__box {
    max-width: 1200px;
    width: 100%;
}

.products__box1, .products__box2 {
    margin-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(2, minmax(548px, 548px));
    grid-template-rows: repeat(1, 619px);
    max-width: 1200px;
    width: 100%;
}

.products__box1 {
    gap: 104px;
    margin-bottom: 56px;
    z-index: 2993;
}

.products__box2 {
    gap: 99px;
    z-index: 3499;
}

.item {
    position: relative;
}

.item__img {
    margin-bottom: 24px;
}

.item1__img {
    border-radius: 0px 90px 0px 0px;
}

.item2__img {
    border-radius: 90px 0px 0px 0px;
}

.item3__img {
    border-radius: 0px 0px 90px 0px;
}

.item4__img {
    border-radius: 0px 0px 0px 90px;
}


.item__info {
    display: flex;
    width: 548px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 97px;
}

.item__title {
    margin-bottom: 4px;
    color: #292F36;
    font-family: DM Serif Display, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
    letter-spacing: 0.5px;
}

.item__description {
    color: #4D5053;
    font-family: Jost, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
}

.products__statistics {
    background: url(img/statistics/Background.svg);
    height: 457px;
    fill: #F4F0EC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__statistics__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 76px;
}

.products__statistics__item__title {
    color: #CDA274;
    font-family: DM Serif Display, sans-serif;
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 106.25px */
    letter-spacing: 1.7px;
}

.golden__line {
    border-right: 1px solid #CDA274;
    width: 1px;
    height: 130px;
}

.products__statistic__item1 {
    display: flex;
    width: 192px;
    height: 155px;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.products__statistic__item2 {
    display: flex;
    width: 160px;
    height: 155px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products__statistic__item3 {
    display: flex;
    width: 130px;
    height: 155px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products__statistic__item4 {
    display: flex;
    width: 171px;
    height: 155px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products__statistics__item__title {
    margin-bottom: 16px;
}

.products__statistics__item__subtitle {
    color: #4D5053;
    font-family: Jost, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
}

.products__news__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 52px;
}

.products__news__info__title {
    color: #292F36;
    text-align: center;
    font-family: DM Serif Display, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 62.5px */
    letter-spacing: 1px;
}

.products__news__info__description {
    color: #4D5053;
    text-align: center;
    font-family: Jost, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
    width: 811px;
}

.products__news__box {
    display: flex;
    gap: 27px;
}

.products__news__box__item {
    width: 382px;
    height: 521px;
    border-radius: 62px;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 21px;
}

.products__news__box__item2 {
    background: #F4F0EC;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}


.products__news__box__item__img {
    border-radius: 62px 62px 0px 0px;
    margin-bottom: 21px;
}

.products__news__box__title {
    display: flex;
    width: 340px;
    height: 70px;
    flex-direction: column;
    justify-content: center;

    color: #292F36;
    font-family: DM Serif Display, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

.products__news__box__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
}

.products__news__box__link__arrow {
    width: 52px;
    height: 52px;
}

