* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 53px 0 134px;
}

a {
    text-decoration: none;
}

.container {

        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
}


.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
    max-width: 1200px;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.header__Name {
    color: #292F36;
    font-family: DM Serif Display, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 50px */
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16em;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 2.6em;
}

.link__pages {
    color: #292F36;
    text-align: center;
    font-family: Jost, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 25px */
}

.posters {
    display: inline-block;
    justify-content: center;
    position: relative;
}

.posters__img {
    display: flex;
    /*justify-content: center;*/
    position: relative;
    margin-bottom: 90px;
}

.posters__info {
    display: block;
    position: absolute;
    top: 44.59%;
    left: 54.4%;
    transform: translate(-50%, -50%);
    max-height: 342px;
    height: 100%;
    min-width: 434px;
    width: 100%;
}

.posters__title {
    color: #292F36;
    font-family: DM Serif Display, sans-serif;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 81.25px */
    width: 434px;
    height: 162px;
    margin-bottom: 19px;
}

.posters__description {
    color: #4D5053;
    font-family: Jost, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
    max-width: 434px;
    max-height: 62px;
    margin-bottom: 24px;
}

.posters__button {
    display: flex;
    padding: 26px 49px 26px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.posters__button {
    border-radius: 18px;
    background: #292F36;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
}

.posters__button {
    color: #FFF;
    text-align: center;
    font-family: Jost, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 22.5px */
    letter-spacing: 0.36px;
}

.products {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.products__title {
    color: #292F36;
    text-align: center;
    font-family: DM Serif Display, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 62.5px */
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.products__description {
    color: #4D5053;
    text-align: center;
    font-family: Jost, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
    width: 737px;
}
.item__img {
    margin-bottom: 24px;
    width: 686px;
    height: 1031px;
    border-radius: 0px 90px 0px 0px;
    /*transform: rotate(90deg);*/
    flex-shrink: 0;
    background: url(img/product/Photo.svg), lightgray 50% / cover no-repeat;
    border : 267px solid lightgray; /*37px 239px 101px*/

}
.item__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item__title {
    margin-bottom: 4px;
    color: #292F36;
    font-family: DM Serif Display, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
    letter-spacing: 0.5px;
}
.item__description {
    color: #4D5053;
    font-family: Jost, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
}